################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RankTumbleApp/bin/Debug
/RankTumbleApp/obj
/.vs
